/* Sizes */
$xs: 320px;
$sm: 640px;
$md: 960px;
$lg: 1280px;
$hd: 1400px;

/* Colors */
//color tittles h1
$tittle1:#4c4d4d;//header, services engagement.
$tittle2:#2e3092;// work, partners.
$tittle3:#202221;//engagement
$tittle4:#8ac6d0;//clients

//color p

$p1:#4d4e4d;//header.
$p2:#8ac6d0;//top-slider link
$p3:#000000;//services.
$p4:#202221;//work.
$p5:#6e6e6e;//engagement.

//Backgrounds
$bg0:transparent;
$bg1:rgba(41,43,42,.4);//top-nav
$bg2:#e2e3e3;// services img BG
$bg3:#202221;// clients BG
$bg4:#e5e5e5;//partners BG
$bg5:#2e3092;//footer BG

$color_menu_header:#000000;
