.top-nav{
	.container{
		max-width: 100%;
	}
	
	//border: 1px solid black;
	width: 100%;
	z-index: 4;
	position: fixed;
	// right: 0;
	left: 0;
	display:block;
	padding: 10px 0 5px 0;
	height: 40px;
		figure{
			position: absolute;
			left: -25px;
			top: -23px;			
			background-image:url("../images/home/top-nav/top_nav_logo_sprite.png");
			background-repeat: no-repeat;
			width: 50px;
			height: 30px;
            background-size: 80%;
            background-position: 5px 6px;
            cursor:url(index.html)pointer;
            @include bp(md) {left:0px;}//640

		}
	a:nth-child(2){
		span{
			position: absolute;
			width: 25px;
			right: 20px;
			top: -7px;
			color: #000000;
			font-size: 30px;
			@include bp(md) {right: 50px;}//640
		}		
	}// boton hamburguesa

	.smenu{
		.btn-close{
			position: absolute;
			width: 25px;
			right: 30px;
			top: 10px;
		}
	}
	
	&.bg-gray{
		background-color: rgba(41,43,42,.4);
		a{
			span{
				color:#fff;
			}
		}		
		figure{
			background-image:url("../images/home/top-nav/top_nav_logo_sprite.png");
			background-repeat: no-repeat;	
            background-size: 80%;
            background-position: 5px -35px;
		}

	}
		 #toggle-menu
		 {
			width: 60px;
			height: 60px;
		 }		
}
