.work{
  width: 100%;
  height:auto;

.slide-dot{
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

  overflow: hidden;
  .slick-dots {
        bottom: 191px;
  }
  .sliderr-for{
    div{
      width:100%;
      height:350px;
    }
    div:nth-child(1){
      background: url(../images/home/cases/cases_bg_rad.jpg) center center / cover;
    }
    div:nth-child(2){
      background: url(../images/home/cases/cases_bg_nest.png) center center / cover;
    }
    div:nth-child(3){
      background: url(../images/home/cases/cases_bg_goo.jpg) center center / cover;
    }
    div:nth-child(4){
      background: url(../images/home/cases/cases_bg_cred.jpg) center center / cover;
    }
  }


.sliderr-nav{
  box-sizing: border-box;
  height: 200px;
}

  h1{
      font-size: 45px;
      padding-left: 10px;
       @include bp(sm) {padding-left: 25px;}
       @include bp(md) {padding-left: 40px;}
      font-family: 'proxima_nova';
        color: #2e3092;
        span{
          font-size: 35px;
          font-family: 'crimson_text';
            font-style:italic;
            }
      }
    .slick-track{
        margin-top: -20px;
        .slick-slide{

          margin:20px 0px;
          cursor: pointer;
              &:focus{
                outline: none;
              }
        }
        figure{
            background-position:0px 0px;
            background-size:100%;
            background-repeat: no-repeat;
            width: 80%;
            height: 50px;
            /*float: left;*/
            max-width: 240px;
            background-position: 0px 0px;
        }
        div:nth-child(1) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 215%;
            background-position: -258px 0px;
        }
        div:nth-child(2) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 215%;
            background-position: -258px -42px;
        }
        div:nth-child(3) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 215%;
            background-position: -258px -87px;
        }
        div:nth-child(4) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 203%;
            background-position: -242px -122px;
        }
        div:nth-child(4) p{
            padding-right: 20px;
        }
        p{
          color:#878787;
          padding:0 30px 0 35px;
          @include bp(sm) { padding:0 0px 0 35px;}//640
          @include bp(md) { padding:0 0px 0 35px;}//640
            a{
                font-family: 'proxima_nova';
                font-weight: bold;
                 color:#878787;
                 // color:#8fd7e5;
                 text-transform:uppercase;
                 font-size: 14px;
                 text-decoration: none;
             }
        }
      .slick-current{
       &:nth-child(1) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 215%;
            background-position: -0px 0px;
        }
        &:nth-child(2) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 215%;
            background-position: 6px -42px;
        }
        &:nth-child(3) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 215%;
            background-position: -0px -87px;
        }
        &:nth-child(4) figure{
            background-image:url('../images/home/cases/cases_sprite.png');
            background-size: 203%;
            background-position: 1px -122px;
        }
          p{
            font-family: 'crimson_text';
            color:#000;
            margin-bottom: 10px;
            border:none;
              a{
                color:#8fd7e5;
              }
          }
      }
  }
}